<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Booking already created</h1>
    <p>
      You have successfully create a booking,
      our driver will be arrive to your place soon.
      Check for the latest info in your app.
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
